# Dependencies
node_modules/
Client/node_modules/
Server/node_modules/

# Environment files
Client/.env
Server/.env
.env

# Build folders
Client/dist/
Server/dist/

# Logs
*.log
package-lock.json
Server/package-lock.json
Client/package-lock.json
package.json